#life{
	height:0.8rem;
	width:0.8rem;
	margin:0.1rem;
}
html,body{
	height:100%;
	margin:0;
	font-size: 16px;
}
body{
	display:flex;
	font-family:'pixel',sans-serif;
	text-align:center;
	font-size:16px;
}
.left{
	min-width: 50%;	
	max-width:50%;
	overflow:hidden;
	z-index:1;
	white-space:nowrap;
}
.right{
	position:absolute;
	z-index:0;
	white-space:nowrap;
	min-width:100%;
	min-height:100%;
	text-align: left;
}
.black{
	background-color:#000;
	color:#FFF;
	border:2px solid #FFF;
}
.white{
	background-color:#FFF;
	color:#000;
	border:2px solid #000;
}
.transition{
	font-size: 2rem;
}
.healthBar{
	position: relative;
	bottom:6rem;
	font-size:1.4rem;
}
#leftPage,#rightPage{
	display: flex;
	flex-direction: column;
	flex:1;
	height:100%;
	border:none;
	justify-content: center;
	align-items: center;
}
#resultScreen{
	overflow:hidden;
	max-height: 10rem;
}
@font-face{
	src:url('./files/fonts/pixel.TTF');
	font-family:'pixel';
}
